/* .ticket {
  width: fit-content;
  margin: 4%;
  display: flex;
  background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #b78b2a 30%, #b58d2f 40%, transparent 80%),
              radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #9c7b2f 62.5%, #98782d 100%);
  border-radius: 10px;
  overflow: hidden;
  
}

.left {
	display: flex;
    position: relative;
}

.imageContent {
	height: 250px;
	width: 250px;
  background-size: contain;
  opacity: 0.85;
  position: relative;
}

.image {
    position: absolute;
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px 0% 0% 10px;
}

.admitOne {
	position: absolute;
	color: darkgray;
	height: 250px;
	padding: 0 10px;
	letter-spacing: 0.15em;
	display: flex;
	text-align: center;
	justify-content: space-around;
	writing-mode: vertical-rl;
    font-size: 70%;
	transform: rotate(-180deg);
}

.admitOne span:nth-child(2) {
	color: white;
	font-weight: 700;
}

.left .ticketNumber {
	height: 250px;
	width: 250px;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	padding: 5px;
  z-index: 1;
}

.ticketInfo {
	padding: 10px 30px;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: space-between;
	align-items: center;
    
}

.date {
	border-top: 1px solid white;
	border-bottom: 1px solid rgb(255, 255, 255);
	padding: 5px 0;
	font-weight: 700;
	display: flex;
	align-items: center;
	justify-content: space-around;
  width: 100%
}

.date span {
	margin: 0 5px;
}

.date span:first-child {
	text-align: left;
}

.date span:last-child {
	text-align: right;
}

.date .march {
	color: #ffee55;
	font-size: 15px;
    text-shadow: 1px 2px 4px var(#ffeba7), 0 0 0 #000, 1px 2px 4px var(#ffeba7);
}

.showName {
    font-weight: 700;
	color: #11141f;
}

.showName h1 {

  background: linear-gradient(to bottom, rgb(155, 28, 28) 40%,#3a2c0f 78%); 
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #fff;

  position: relative;
	text-transform: uppercase;	
	font-size: calc(10px + 1.8 * 1vw);
	font-weight: 900;
	letter-spacing: 0.1em;
}

.showName h1:after {
  background: none;
  content: attr(data-heading);
  left: 0;
  top: 0;
  z-index: -1;
  position: absolute;
  text-shadow: 
  -1px 0 1px #c6bb9f, 
  0 1px 1px #c6bb9f, 
  5px 5px 10px rgba(0, 0, 0, 0.4),
  -5px -5px 10px rgba(0, 0, 0, 0.4);
}

.time {
	padding: 10px 0;
	color: #4a437e;
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 10px;
	font-weight: 900;
}

.time span {
	font-weight: 400;
	color: gray;
}

.left .time {
	font-size: 28px;
}

.location {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	padding-top: 8px;
	border-top: 1px solid white;
}

.location .separator {
	font-size: 20px;
}

.right {
	width: 180px;
	border-left: 1px dashed #404040;
}

.right .admitOne {
	color: darkgray;
}

.right .admitOne span:nth-child(2) {
	color: gray;
}

.right .right-info-container {
	height: 250px;
	padding: 10px 10px 10px 35px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.right .showName h1 {
	font-size: calc(10px + 1.8 * 1vw);;
}

.barcode {
	height: 100px;
}

.barcode img {
	height: 100%;
}

.right .ticketNumber {
	color: gray;
} */



.proshowTicket{
  position: relative;
  width: 80%;
  max-width: 1000px;
  height: fit-content;
  display: flex;
  align-items: start;
  flex-direction: row;
  justify-content: flex-start;
  background: #000;
  margin: 3%;
}

.proshowTicket:before{
content: '';
position: absolute;
top: -2px;
left: -2px;
right: -2px;
bottom: -2px;
  background: linear-gradient(200deg, #772aff, #010615, #2196F3);
z-index: -1;
}

.proshowTicket:after{
content: '';
position: absolute;
top: -2px;
left: -2px;
right: -2px;
bottom: -2px;
z-index: -2;
  background: linear-gradient(200deg, #772aff, #010615, #2196F3);
filter: blur(10px);
}

.glass {
  position: absolute;
top: 0;
left: 0;
width: 100%;
height: 50%;
display: block;
background: rgba(255,255,255,.07);
pointer-events: none;
}

.celebrityImage{
  width: 180px;
  height: 180px;
  margin: 20px 0px 20px 20px;
  flex-shrink: 0;
  overflow: hidden;
}

.celebrityImage img {
  height: 180px;
  width: 180px;;
  object-fit: contain;
}

.proshowDetails {
  width: 100%;
  height: 180px;
  flex-shrink: 1;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.proshowName {
  font-family: "Chakra Petch";
  text-align: center;
  margin-bottom: auto;
  /* font-size: calc(0px + 1 * 1vw); */
  font-size: 28px;
  background: linear-gradient(rgb(255, 255, 255), rgb(53, 0, 92));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 5px;
  text-indent: 0.3em;
  font-weight: 900;
  text-shadow: 0px 3px 5px rgba(183, 91, 254, 0.53);
  padding: 0px;
}

.celebrityName {
  position: absolute;
  width: calc(100% - 220px);
  height: 100%;
  left: 220px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Jura";
  font-size: calc(10px + 2 * 1vw);
  color: white;
  letter-spacing: 10px;
  text-indent: -0.5em;
  font-weight: 900;
  padding: 0px;
  z-index: 0;
}

.celebrityNameShadow {
  position: absolute;
  top: 34%;
  text-align: center;
  width: 100%;
  /* letter-spacing: 13px; */
  font-size: 10px;
  background: linear-gradient(rgba(255, 255, 255, 0.3), rgb(36, 36, 36, 0.1));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: -1;
}

.date {
  font-size: calc(8px + 0.5 * 1vw);
  color: white;
  letter-spacing: 10px;
  text-indent: 1em;
  padding: 0px;
}

.dateSpace {
  margin-right: calc(20px - 1vw);
}

.standard {
  color: rgba(255, 255, 255, 0.2);
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  text-align: center;
  height: 220px;
  padding-left: 10px;
  letter-spacing: 10px;
  font-size: 18px;
}

.premium {
  color: rgba(255, 217, 0, 0.335);
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  text-align: center;
  height: 220px;
  padding-left: 10px;
  letter-spacing: 10px;
  font-size: 18px;
}

@media(max-width: 1100px) {
  .proshowTicket {
      flex-direction: column;
      align-items: center;
      width: 300px;
  }
  .celebrityName { 
      left: 0;
      top: 200px;
      width: 100%;
      height: calc(100% - 220px);
      text-indent: 1em;
  }
  .celebrityNameShadow, .year {
      display: none;
  }
  .premium, .standard {
      transform: rotate(0deg);
      writing-mode: horizontal-tb;
      height: 30px;
  }
  .glass {
      width: 50%;
    height: 100%;
  }
  .celebrityName {
      text-indent: 0.5em;
      margin-left: 5px;
  }
  .celebrityImage {
      margin-right: 20px;
  }
  .proshowTicket:before, .proshowTicket:after{
      background: linear-gradient(235deg, #772aff, #010615, #2196F3);
  }
  .date {
      text-indent: 0.5em;
      margin-left: 20px;
  }
}

@media(min-width: 1266px) {
  .celebrityName {
      font-size: 36px;
  }
  .celebrityNameShadow {
      font-size: 46px;
  }
  .date {
      font-size: 20px;
  }
}


.profileContainer{
    max-width: 1000px;
    margin: 0 auto 2rem auto;
    color: black;
	font-size: 14px;
	letter-spacing: 0.1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.layout {
    align-items: center;
    display: flex;
    justify-content: center;

}

.profileEventCard {
  width: 230px;
  border-radius: 20px;
  background: #0f2844;
  padding: 5px;
  margin: 5% auto 5% auto;
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 20px 0px;
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.profileEventCard:hover {
  transform: scale(1.05);
}

.profileEventCard .topSection {
  height: 150px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.profileEventCard .topSection .border {
  border-bottom-right-radius: 10px;
  height: 30px;
  width: 130px;
  background: white;
  background: #0f2844;
  position: absolute;
  transform: skew(-40deg);
  box-shadow: -10px -10px 0 0 #1b233d;
}

.profileEventCard .topSection .border::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 0;
  right: -15px;
  background: rgba(255, 255, 255, 0);
  border-top-left-radius: 10px;
  box-shadow: -5px -5px 0 2px #1b233d;
}

.profileEventCard .topSection::before {
  content: "";
  position: absolute;
  top: 30px;
  left: 0;
  background: rgba(255, 255, 255, 0);
  height: 15px;
  width: 15px;
  border-top-left-radius: 15px;
  box-shadow: -5px -5px 0 2px #1b233d;
}

.profileEventCard .topSection .icons {
  position: absolute;
  top: 0;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
}

.profileEventCard .topSection .icons .logo {
  height: 100%;
  /* aspect-ratio: 1; */
  padding: 3px 0 7px 15px;
  /* margin: auto; */
  text-align: center;
  font-weight: 700;
  color: white;
}

.profileEventCard .topSection .icons .logo .topSection {
  height: 100%;
}

.profileEventCard .topSection .icons .socialMedia {
  height: 100%;
  padding: 8px 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 7px;
}

.profileEventCard .topSection .icons .socialMedia .svg {
  height: 100%;
  fill: #ffffff;
}
.profileEventCard .topSection .icons .socialMedia p {
  font-weight: 700;
  color: white;
  text-align: center;
}

.profileEventCard .bottomSection {
  margin-top: 15px;
  padding: 10px 5px;
}

.profileEventCard .bottomSection .title {
  display: block;
  font-size: 17px;
  font-weight: bolder;
  color: white;
  text-align: center;
  letter-spacing: 2px;
}

.profileEventCard .bottomSection .row {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.profileEventCard .bottomSection .row .item {
  flex: 30%;
  text-align: center;
  padding: 5px;
  color: rgba(170, 222, 243, 0.721);
}

.profileEventCard .bottomSection .row .item .bigText {
  font-size: 12px;
  display: block;
}

.profileEventCard .bottomSection .row .item .regularText {
  font-size: 9px;
}

.profileEventCard .bottomSection .row .item:nth-child(2) {
  border-left: 1px solid rgba(255, 255, 255, 0.126);
  /* border-right: 1px solid rgba(255, 255, 255, 0.126); */
}

.profileSectionTitle {
  font-size: calc(10px + 5vh);
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  /* font-family: "Sacramento", cursive; */
  text-align: center;
  animation: blink 12s infinite;
  -webkit-animation: blink 12s infinite;
}

.glowingLine {
  width: 100%;
  height: 2px;
  margin: 50px auto 50px auto;
  background: linear-gradient(to right, rgba(200, 0, 255, 0.303), #2500f9, rgba(200, 0, 255, 0.3)); /* Adjust colors as needed */
  animation: glow 1s ease-in-out infinite alternate;
}

.profilePersonalDetail{
  width: 94%;
  margin: 100px auto 7% auto;
}
.profilePersonalDetail .description {
  display: flex;
  flex-direction: row;
}

.profilePersonalDetail img{
  width: 180px;
  height: 180px;
  object-fit: contain;
  border-radius: 10px;
  filter: blur(0px);
}

.profilePersonalDetail .container {
  top: 20%;
  left: 30%;
  margin: 0 auto;
  /* transform: translate((-50%, -50%)); */
  width: fit-content;
  height: fit-content;
  color: rgb(206, 231, 255);
  padding: 30px;
  background: linear-gradient(45deg, rgba(50, 50, 200, 0.1), rgba(50,50,50, 0.4));
  border-radius: 10px;
  box-shadow: 0 0 .2rem #fff,
          0 0 .2rem #fff,
          0 0 0.8rem #133efe,
          inset 0 0 0.5rem #133efe; 
}

.profilePersonalDetail .logo {
  width: 180px;
  height: 180px;
  background-color: rgba(0, 0, 0, 0.4);
  background-image: url(https://static.vecteezy.com/system/resources/thumbnails/002/104/171/small_2x/account-neon-icon-for-website-and-ui-material-illustration-vector.jpg);
  background-size: cover;
  border-radius: 50%;
  float: left;
  margin: 30px 20px 0px 0;
  box-shadow: -2px 2px 400px #01127363;
  transform: translate(-70%, -20%);
}

.profilePersonalDetail h1 {
  /* transform: translateX(-85px); */
  margin: 0 0 5px;
  padding: 0;
  font-size: 30px;
}

.profilePersonalDetail h3 {
  font-weight: 600;
  /* transform: translateX(-85px); */
  margin: 0 0 20px;
  padding: 0;
}

.profilePersonalDetail .bio {
  /* transform: translateX(-95px); */
  /* font-family: "KoHo", sans-serif; */
  font-size: 15px;
  margin: 0;
  padding: 0;
  text-align: justify;
  line-height: 28px;
}

.profilePersonalDetail .bg-background {
  background-color: #ffffff00;
}
.profilePersonalDetail .bg-background:hover {
  color: #7ebcff;
}



.nft {
  /* user-select: none; */
  max-width: 300px;
  margin: auto;
  /* border: 1px solid #fff; */
  background-color: #282c34;
  background: linear-gradient(0deg, rgba(40, 44, 52, 1) 0%, rgba(17, 0, 32, 0.5) 100%);
  box-shadow: 0 7px 20px 5px #000;
  border-radius: 0.7rem;
  backdrop-filter: blur(7px);
  /* -webkit-backdrop-filter: blur(7px); */
  overflow: hidden;
  transition: 0.5s all;
}
.nft hr {
  width: 100%;
  border: none;
  border-bottom: 1px solid #888 55;
  margin-top: 0;
}
.nft ins {
  text-decoration: none;
}
.nft .main {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 1rem;
}
.nft .main .tokenImage {
  border-radius: 0.5rem;
  max-width: 100%;
  height: 250px;
  object-fit: cover;
}
.nft .main h2 {
  width: 100%;
  color: white;
  text-transform: uppercase;
  font-family: "Jura";
  font-weight: 900;
  letter-spacing: 5px;
  text-align: center;
}

.nft .main .description {
  margin: 0.5rem 0;
  color: #a89ec9;
}
.nft .main .tokenInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nft .main .tokenInfo .price {
  display: flex;
  align-items: center;
  color: #ee83e5;
  font-weight: 700;
}
.nft .main .tokenInfo .price ins {
  margin-left: -0.3rem;
  margin-right: 0.5rem;
}
.nft .main .tokenInfo .duration {
  display: flex;
  align-items: center;
  color: #a89ec9;
  margin-right: 0.2rem;
}
.nft .main .tokenInfo .duration ins {
  margin: 0.5rem;
  margin-bottom: 0.4rem;
}
.nft .main .creator {
  display: flex;
  align-items: center;
  margin-top: 0.2rem;
  margin-bottom: -0.3rem;
}
.nft .main .creator ins {
  color: #a89ec9;
  text-decoration: none;
}
.nft .main .creator .wrapper {
  display: flex;
  align-items: center;
  border: 1px solid #fff 22;
  padding: 0.3rem;
  margin: 0;
  margin-right: 0.5rem;
  border-radius: 100%;
  box-shadow: inset 0 0 0 4px #000 aa;
}
.nft .main .creator .wrapper img {
  border-radius: 100%;
  border: 1px solid #fff 22;
  width: 2rem;
  height: 2rem;
  object-fit: cover;
  margin: 0;
}
.nft ::before {
  position: fixed;
  content: "";
  box-shadow: 0 0 100px 40px #fff 8;
  top: -10%;
  left: -100%;
  transform: rotate(-45deg);
  height: 60rem;
  transition: 0.7s all;
}
.nft:hover {
  border: 1px solid #fff 44;
  box-shadow: 0 7px 50px 10px #000 aa;
  transform: scale(1.015);
  filter: brightness(1.3);
}
.nft:hover ::before {
  filter: brightness(0.5);
  top: -100%;
  left: 200%;
}



@keyframes glow {
  0% {
    box-shadow: 0 0 10px #7300ff; /* Adjust glow color and intensity */
  }
  100% {
    box-shadow: 0 0 20px #7300ff; /* Adjust glow color and intensity */
  }
}

@-webkit-keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {

  /* text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000; */
    /* color: #fff6a9; */
  }
}

@keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
  /* text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000; */
  /* text-shadow:  */
  /* 0 -40px 100px, 0 0 2px,  */
  /* 0 0 1em #ff4444, 
  0 0 0.5em #ff4444, 
  0 0 0.1em #ff4444, 
  0 10px 3px #000;
   */
    /* color: #fff6a9; */

    text-shadow: 0 0 0 transparent, 0 0 10px #09f, 0 0 20px rgba(38,149,255,.5), 0 0 40px #09f, 0 0 100px #09f;
    color: white;
  }
}

  
@media (max-width: 1000px) {
  .profilePersonalDetail .logo {
    display: none;
  }
  .profilePersonalDetail .description {
    flex-direction: column;
    align-items: center;
  }

  .profilePersonalDetail h1 {
    transform: none;
    margin: auto;
    text-align: center;
  }
  .profilePersonalDetail h3 {
    transform: none;
    margin: auto;
    text-align: center;
  }
  .profilePersonalDetail .bio {
    transform: none;
    margin: auto;
    text-align: center;
    justify-content: center;
  }
  .profilePersonalDetail .edit {
    flex-direction: column;
    align-items: center;
  }
  .profilePersonalDetail .eChild {
    margin: auto;
  }
}

@media (max-width: 768px) {
  .location, .time, .imageContent{
      display: none;
  }  
  .profilePersonalDetail .container {
    padding: 30px 1rem;
  }
}