.event_details_bg {
  background: linear-gradient(rgba(3, 7, 17, 0.9), rgba(3, 17, 17, 0.7)),
    url("/event-image-31.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.end_date span {
  color: #ffffff;
  font-weight: lighter;
  animation: neon 0.18s ease-in-out infinite alternate;
  text-shadow: 0 0 0 transparent, 0 0 10px rgb(255, 0, 0), 0 0 20px rgba(255, 38, 38, 0.5), 0 0 40px rgb(255, 0, 0), 0 0 100px rgb(255, 0, 0);
}

.event_head {
  font-weight: lighter;
  text-shadow: 0 0 0 transparent, 0 0 10px #09f, 0 0 20px rgba(38,149,255,.5), 0 0 40px #09f, 0 0 100px #09f;
  animation: buzz 1s infinite alternate;
}

@keyframes buzz {
  70% {
    opacity: 0.8;
  }
}
