@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
.end-date span {
    font-family: Courgette;
  color: #c6e2ff;
  animation: neon 0.18s ease-in-out infinite alternate;
}

@keyframes neon {
  from {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.92),
      0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(255,255,255, 0.52),
      0 0 21px rgba(33, 238, 60, 0.92), 0 0 34px rgba(255, 0, 0, 0.78),
      0 0 54px rgba(67, 207, 35, 0.92);
  }
  to {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.98),
      0 0 30px rgba(202, 228, 225, 0.42), 0 0 12px rgba(30, 242, 0.58),
      0 0 22px rgba(255, 0, 0, 0.84), 0 0 38px rgba(255, 0, 0, 0.88);
  }
}
