@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Oswald:wght@600&display=swap");

.event_content h2 {
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    opacity: 0.9;
    font-size: 1.15rem;
    margin: 1rem 0 0.7rem 0;
    letter-spacing: 0.125rem;
    text-transform: uppercase;
}


.event_content h4 {
    line-height: 1.6;
    font-size: 0.9rem;
}

/* .event_content h4 span {
    opacity: 0.9;
}

.event_content h4 p {
    display: inline-block;
    opacity: 0.7
} */

.event_content p {
    margin-top: 0.5rem;
    font-size: 0.9rem;
    opacity: 0.9;
}

.event_short_info {
    display: flex;
}

.event_short_info div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #101520;
    padding: 4px 1px;
    margin: 3px 2px;
    width: 100%;
    border-radius: 5px;
    text-align: center;
    font-size: 0.8rem;
}

.event_short_info h4:first-child {
    margin-left: 0
}

.event_short_info h4:last-child {
    margin-right: 0;
}

.event_cards {
     font-family: "Inter", sans-serif;
	 display: flex;
	 justify-content: center;
     flex-wrap: wrap;
	 gap: 1rem;
}
.event_card {
    position: relative;
    width: 17rem;
    height: 25.5rem;
    padding: 2px;
    z-index: 2;
    border-radius: 1rem;
    margin: 1rem;
    transform: scale(0.98);
    transition: transform 200ms ease-in-out, z-index 600ms;
}
.event_card .event_content {
    /* box-shadow: 0 0 0.5rem rgb(0, 0, 0) inset, 0 0 2rem rgb(0, 0, 0); */
    /* box-shadow: 0 0 2rem rgb(0, 0, 0); */
    /* box-shadow: 0 0 0.5rem rgb(0, 0, 0) inset; */
    height: 100%;
    width: 100%;
    padding: 1rem 0.8rem;
    background: #202530;
    border-radius: calc(1rem - 2px);
    overflow: hidden;
}

.event_card .event_content img {
    width: 100%;
    height: 10rem;
    object-fit: cover;
    object-position: center;
    border-radius: 0.4rem;
    box-shadow: 0 0 1rem black;
}

.event_card::before {
    content: "";
    position: absolute;
    height: 31rem;
    width: 31rem;
    top: 50%;
    left: 50%;
    z-index: -1;
    border-radius: 50%;
    filter: blur(8rem);
    background: conic-gradient(#12c2e9, #c471ed, #f64f59, #c471ed, #12c2e9);
    animation: spin-shadow 5s linear infinite;
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}

 .event_card .event_border {
    position: absolute;
    inset: 0;
    border-radius: 1rem;
    overflow: hidden;
}

.event_card .event_border::before {
    content: "";
    position: absolute;
    width: 30rem;
    height: 30rem;
    top: 50%;
    left: 50%;
    z-index: -1;
    background: conic-gradient(#12c2e9, #c471ed, #f64f59, #c471ed, #12c2e9);
    opacity: 0;
    transition: opacity 300ms ease-in-out;
    animation: spin 5s linear infinite;
}

.event_card:hover {
    transform: scale(1.005);
}

.event_card::before {
    opacity: 0.9;
}

@media screen and (max-width: 480px) {
    .event_card::before {
        opacity: 0;
    }
}

.event_card .event_border::before {
    opacity: 1;
}

@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes spin-shadow {
	0% {
		 transform: translate(-50%, calc(-50% + 2rem)) scale(0.5) rotate(0deg);
	}
	100% {
		 transform: translate(-50%, calc(-50% + 2rem)) scale(0.5) rotate(360deg);
	}
}

.event_content button {
    background: #101520;
    border: none;
    width: 9rem;
    padding: 0.6rem 0.8rem 0.6rem 2.5rem;
    clip-path: polygon(25% 0, 100% 0%, 100% 100%, 0% 100%);
    font-weight: bold;
    opacity: 1;
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
    position: absolute;
    right: -1.1rem;
    bottom: -1rem;
    border-radius: 1rem;
    box-shadow: 0 0 0.3rem black inset;
    cursor: pointer;
}

.event_type_heading {
    font-size: 3.5rem;
    /* letter-spacing: 1px; */
    margin-top: 10vh;
    color: white;
    text-shadow: 0 0 0 transparent, 0 0 10px #09f, 0 0 20px rgba(38,149,255,.5), 0 0 40px #09f, 0 0 100px #09f;
    animation: buzz 1s infinite alternate;
}

@keyframes buzz {
  70% {
      opacity: .8;
  }
}

@media screen and (max-width: 600px) {
    .event_type_heading {
        margin-top: 15vh;
    }
}

@media screen and (max-width: 420px) {
    .event_type_heading {
        font-size: 2.5rem;
    }
}