@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Oswald:wght@600&display=swap");

:root {
    --border-width: 2px;
}
.event-content h2 {
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    opacity: 0.9;
    font-size: 1.2rem;
    margin: 1rem 0;
    letter-spacing: 0.125rem;
    text-transform: uppercase;
}


.event-content h4 {
    line-height: 1.6;
    font-size: 0.9rem;
}

.event-content h4 span {
    opacity: 0.9;
}

.event-content h4 p {
    display: inline-block;
    opacity: 0.7
}

.event-cards {
     font-family: "Inter", sans-serif;
	 display: flex;
	 justify-content: center;
     flex-wrap: wrap;
	 gap: 1rem;
}
.event-card {
    position: relative;
    width: 17rem;
    height: 24rem;
    padding: var(--border-width);
    z-index: 2;
    border-radius: 1rem;
    margin: 1rem;
    transform: scale(0.98);
    transition: transform 200ms ease-in-out, z-index 600ms;
}
.event-card .event-content {
    box-shadow: 0 0 0.5rem rgb(0, 0, 0) inset, 0 0 2rem rgb(0, 0, 0);
    height: 100%;
    width: 100%;
    padding: 1rem 0.8rem;
    background: #202530;
    border-radius: calc(1rem - var(--border-width));
    overflow: hidden;
}

.event-card .event-content img {
    width: 100%;
    height: 11rem;
    object-fit: cover;
    object-position: center;
    border-radius: 0.4rem;
    box-shadow: 0 0 1rem black;
}

.event-card::before {
    content: "";
    position: absolute;
    height: 30rem;
    width: 30rem;
    top: 50%;
    left: 50%;
    z-index: -1;
    border-radius: 50%;
    filter: blur(8rem);
    background: conic-gradient(#12c2e9, #c471ed, #f64f59, #c471ed, #12c2e9);
    animation: spin-shadow 3s linear infinite;
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}

 .event-card .event-border {
    position: absolute;
    inset: 0;
    border-radius: 1rem;
    overflow: hidden;
}

.event-card .event-border::before {
    content: "";
    position: absolute;
    width: 29rem;
    height: 29rem;
    top: 50%;
    left: 50%;
    z-index: -1;
    background: conic-gradient(#12c2e9, #c471ed, #f64f59, #c471ed, #12c2e9);
    opacity: 0;
    transition: opacity 300ms ease-in-out;
    animation: spin 3s linear infinite;
}

.event-card:hover {
    transform: scale(1.005);
}

.event-card::before {
    opacity: 0.9;
}

.event-card .event-border::before {
    opacity: 1;
}

@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes spin-shadow {
	0% {
		 transform: translate(-50%, calc(-50% + 2rem)) scale(0.5) rotate(0deg);
	}
	100% {
		 transform: translate(-50%, calc(-50% + 2rem)) scale(0.5) rotate(360deg);
	}
}

.event-content button {
    background: #101520;
    border: none;
    width: 9rem;
    padding: 0.6rem 0.8rem 0.6rem 2.5rem;
    clip-path: polygon(25% 0, 100% 0%, 100% 100%, 0% 100%);
    font-weight: bold;
    opacity: 1;
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
    position: absolute;
    right: -1.1rem;
    bottom: -1rem;
    border-radius: 1rem;
    box-shadow: 0 0 0.3rem black inset;
    cursor: pointer;
}

.event-type-heading {
    font-size: 4rem;
    letter-spacing: 1px;
    margin-top: 10vh;
}

@media screen and (max-width: 600px) {
    .event-type-heading {
        margin-top: 15vh;
    }
}

@media screen and (max-width: 420px) {
    .event-type-heading {
        font-size: 2.5rem;
    }
}