/* @import url("https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"); */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --dark: #070707;
    --size-index: calc(1vw + 1vh);
    --transition: .75s cubic-bezier(0.255, 0.670, 0.000, 1.010);
}
body, html {
    font-family: 'Raleway', sans-serif;
    width: 100%;
    height: 100%;
    background: var(--dark);
    color: #fff;
    overflow: hidden;
    line-height: 1.7;
    font-size: calc(var(--size-index) * .8);
}
.slider {
    height: 100%;
    transform: rotate(15deg);
    overflow: visible;
    top: 10vh;
}
.slider__wrapper {
    transition: var(--transition) !important;
    will-change: transform;
}
/*  About whill-change css property:
The will-change CSS property hints to browsers how an element is expected to change.
Browsers may set up optimizations before an element is actually changed.
These kinds of optimizations can increase the responsiveness of a
page by doing potentially expensive work before they are actually required.

https://developer.mozilla.org/en-US/docs/Web/CSS/will-change
*/
.slider__img {
    will-change: transform;
    width: 300%;
    position: absolute;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    left: -100%;
    transition: var(--transition) !important;
}
.slider__item {
    max-height: 75vh;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: transform var(--transition), box-shadow var(--transition);
}
.slider__item.opened {
    z-index: 3;
    transform: rotate(-15deg) scale(1.5);
    box-shadow: rgba(0,0,0,.75) 0 0 0 10000px;
}
.slider_bg {
    z-index: 0;
    transform: rotate(-20deg) !important;
    top: -90vh;
    left: -10vh;
    opacity: .2;
    filter: blur(140px) saturate(9);
}
.slider_bg .slider__item {
    max-height: 100vh;
    cursor: default;
}
.description {
    position: absolute;
    font-size: calc(var(--size-index) * .8);
    top: 20vh;
    left: 8vw;
    max-width: 24vw;
    transition: opacity var(--transition), transform var(--transition);
}
.description p {
    opacity: .9;
    transition: transform var(--transition);
    transition-duration: 3s;
}
.description.hidden {
    opacity: 0;
    transform: translateY(5vh);
}
.description.hidden p{
    transform: translateY(2vh);
}
.logo {
    font-size: calc(var(--size-index) * 3.6);
    font-weight: 900;
    background: linear-gradient(45deg, #f36100, #884985, #7c1212 );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}