.svg-frame {
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.svg-frame svg {
    position: absolute;
    transition: .5s;
    z-index: calc(1 - (0.2 * var(--j)));
    transform-origin: center;
    width: 344px;
    height: 344px;
    fill: none;
}

.svg-frame:hover svg {
    transform: rotate(-80deg) skew(30deg) translateX(calc(45px * var(--i))) translateY(calc(-35px * var(--i)));
}

.svg-frame svg #center {
    transition: .5s;
    transform-origin: center;
}

.svg-frame:hover svg #center {
    transform: rotate(-30deg) translateX(45px) translateY(-3px);
}

#out2 {
    animation: rotate1 7s ease-in-out infinite alternate;
    transform-origin: center;
}

@keyframes rotate1 {
    to {
        transform: rotate(360deg);
    }
}

#out3 {
    animation: rotate1 3s ease-in-out infinite alternate;
    transform-origin: center;
    stroke: #ff0;
}

@keyframes rotate1 {
    to {
        transform: rotate(360deg);
    }
}

#inner3,
#inner1 {
    animation: rotate1 4s ease-in-out infinite alternate;
    transform-origin: center;
}

@keyframes rotate1 {
    to {
        transform: rotate(360deg);
    }
}

#center1 {
		fill: #ff0;
    animation: rotate1 2s ease-in-out infinite alternate;
    transform-origin: center;
}

@keyframes rotate1 {
    to {
        transform: rotate(360deg);
    }
}

p {
    position: absolute;
    color: #00ffff40;
    top: -80px;
    font-family: 'Sarpanch', sans-serif;
	font-size: 1.2rem;
}
.glitch {
    font-size: 130px;
    line-height: 1;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    /* position:absolute;
    top: 50%;
    left: 50%; */
    transform: translate(-50%, -50%);
    margin: 0;
    text-decoration: none;
    color: #fff;
    &:before,
    &:after{
      display: block;
      content: '4';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      opacity: .8;
    }
    &:after {
      color: #f0f;
      z-index: -2;
          animation: glitch-left-2 .3s cubic-bezier(.25, .46, .45, .94) reverse both infinite
    }
    &:before {
      color: #0ff;
      z-index: -1;
          animation: glitch-left .3s cubic-bezier(.25, .46, .45, .94) both infinite
    }
  
  }
  @keyframes glitch-small {
      0% {
          transform: translate(0)
      }
      33% {
          transform: translate(2px, 1px)
      }
      66% {
          transform: translate(-1px, -1px)
      }
      to {
          transform: translate(0)
      }
  }
  @keyframes glitch-medium {
      0% {
          transform: translate(0)
      }
      20% {
          transform: translate(-2px, 2px)
      }
      40% {
          transform: translate(-2px, -2px)
      }
      60% {
          transform: translate(2px, 2px)
      }
      80% {
          transform: translate(2px, -2px)
      }
      to {
          transform: translate(0)
      }
  }
  @keyframes glitch-left {
      0% {
          transform: translate(0)
      }
      33% {
          transform: translate(-5px, 3px)
      }
      66% {
          transform: translate(5px, -3px)
      }
      to {
          transform: translate(0)
      }
  }
  @keyframes glitch-left-2 {
      0% {
          transform: translate(0)
      }
      33% {
          transform: translate(-5px, -3px)
      }
      66% {
          transform: translate(5px, 2px)
      }
      to {
          transform: translate(0)
      }
  }