.slides {
	-ms-overflow-style: none; 
	scrollbar-width: none;
}
.slides::-webkit-scrollbar {
	display: none; 
}

.description {
    position: absolute;
    font-size: calc(calc(1vw + 1vh) * .8);
    margin-left: calc(1vw * 13);
    max-width: 24vw;
    transition: opacity .75s linear, transform .75s linear;
}
.description.hidden {
    display: block;
    opacity: 0;
    transform: translateX(-5vh);
}

.logo {
    writing-mode: vertical-lr;
    font-size: calc(calc(1vw + 1vh) * 3.6);
    transform: rotate(180deg);
    font-weight: 600;
    /* background: linear-gradient(45deg, #f36100, #884985, #7c1212 ); */
    /* background-clip: text; */
    /* -webkit-background-clip: text; */
    /* -webkit-text-fill-color: transparent; */
    text-transform: uppercase;
    transition: 1s all ease-in-out;
    font-family: "Jura";
    text-shadow: 0 0 0 transparent, 0 0 10px #09f, 0 0 20px rgba(38,149,255,.5), 0 0 40px #09f, 0 0 100px #09f;
    animation: buzz 1s infinite alternate;
}

@keyframes buzz {
    70% {
        opacity: .8;
    }
  }

.gallery{
    position: relative;
    margin: 5% auto 5% auto;
}

#gallery-main {
    opacity: .2;
    filter: blur(140px) saturate(9);
    position: relative;
    margin-right: 0;
}

@media (min-width: 768px) {
    #gallery-main {
        margin-left: -25vw;
    }
}
@media (max-width: 640px) {
    #gallery-main {
        margin-left: -40vw;
    }
}