@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');

nav {
    position: relative;
}

#college {
    width: 129px;
    margin-left: 30px;
}

#landing-header {
    z-index: 9999;
    background: transparent !important;
    color: white;
    position: absolute;
    top: 0;
    padding: 2rem 30px 2rem 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    filter: brightness(1.5);
}

ul {
    display: flex;
    list-style-type: none;
    font-family:  "Jockey One";
    font-weight: 100;
    letter-spacing: 1px;
    font-size: 0.9rem;
}

li {
    margin: 0 15px;
    cursor: pointer;
}

.disabled {
    opacity: 0.7;
}

.disabled:hover {
    opacity: 0.9;
}

/* responsive */

#ham {
    z-index: 9999 ;
    display: none;
}

#ham:hover {
    cursor: pointer;
}

.dropdown-custom{
    display: block;
    position: absolute;
    right: 0;
    top: 40px;
    background: black;
    border: 0.1px solid white;
    border-radius: 10px;
    padding: 5px;
}

.dropdown-custom li {
    padding: 5px 0;
}

.dropdown-custom .active {
    font-size: large;
}

.dropdown-custom .disabled {
    font-size: medium;
    opacity: 0.4;
}


@media screen and (max-width: 690px) {
    ul {
         display: none;
    }

    #ham {
        display: block;
        color: white;
        font-size: 2rem;
    }
}

@media screen and (max-width: 420px) {
    #college {
         width: 100px;
    }
}
