.cat_title{
    font-size: 3.5rem;
    font-weight: lighter;
    text-align: center;
    margin-top: 10vh;
    color: white;
    text-shadow: 0 0 0 transparent, 0 0 10px #09f, 0 0 20px rgba(38,149,255,.5), 0 0 40px #09f, 0 0 100px #09f;
    animation: buzz 1s infinite alternate;
}

@keyframes buzz {
  70% {
      opacity: .8;
  }
}

.category_wrapper img{
    transition: all 0.1s ease-in-out;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}
.category_wrapper{
    position: relative;
    scale: 0.6;
}
.cat_normal {
    filter: brightness(0.9);
}
.cat_blur {
    position: absolute;
    border: 1px solid #000000;
    filter: blur(72.5px);
    top: 0;
    left: 0;
    z-index: -1;
}
.cat_big_circle {
    filter: brightness(1.3);
    position: absolute;
    bottom: 30px;
    left: -20px;
    z-index: -1;
    width: 105px;
    height: 105px;
    border-radius: 50%;
    background: #FFFFFF;
    box-shadow: 0px 0px 68px #000000, inset 0px 0px 71px #000000;
    transition: all 0.2s ease-in-out;
}

.cat_square {
    filter: brightness(1.3);
    position: absolute;
    bottom: 215px;
    left: 245px;
    z-index: -1;
    width: 102px;
    height: 99px;
    border-radius: 20px;
    background: #FFFFFF;
    box-shadow: 0px 0px 68px #000000, inset 0px 0px 71px #000000;
    transition: all 0.2s ease-in-out;
}

.cat_small_circle {
    filter: brightness(1.3);
    position: absolute;
    bottom: 40px;
    left: 275px;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: #FFFFFF;
    box-shadow: 0px 0px 68px #000000, inset 0px 0px 35px #000000;
    transition: all 0.2s ease-in-out;
}

.category_wrapper .cat_normal:hover {
    filter: brightness(1.15);
}

.category_wrapper img:hover ~ .cat_big_circle {
    border-radius: 20px;
    filter: brightness(1.3);
}

.category_wrapper img:hover ~ .cat_small_circle {
    filter: brightness(1.3);
    border-radius: 10px;
}

.category_wrapper img:hover ~ .cat_square {
    filter: brightness(1.3);
    border-radius: 50%;
}


.category_element span {
    display: block;
    text-align: center;
    margin-left: 1rem;
    cursor: pointer;

}

.cat_event_name {
    font-size: 1.7rem;
    margin-top: -1.5rem;
}

.cat_count {
    margin-top: 0.6rem;
    font-size: 1rem;
    font-family: sans-serif;
    opacity: 0.6;
    letter-spacing: 1px;
}

@media screen and (max-width: 600px) {
    .cat_title {
        font-size: 3rem;
        margin-top: 15vh;
    }
}

@media screen and (max-width: 420px) {
    .cat_title {
        margin-top: 15vh;
    }
    .cat_event_name {
        font-size: 1.5rem;
    }
}