.landing_main {   
    background: linear-gradient(104.79deg, #030711 37%, #060C1A 102.89%);
    min-height: 100vh;
    width: 100%;
    color: white;
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* overflow: hidden; */
}

.landing_logo {
    position: absolute;
    width: 420px;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
    z-index: 3;
    filter: brightness(1.2);
}

.fin {
    filter: brightness(1.8);
    transform: rotate(-18deg);
    transition: transform 3s;
}

.fin_r {
    transform: rotate(18deg);
}

.fin_1 {
    width: 17.2vw;
    height: 70px;
}

.fin_2, .fin_3, .fin_4 {
    width: 27.2vw;
    height: 70px;
}

.fin_5 {
    width: 18vw;
    height: 70px;
}

.content {
    margin-top: 5rem;
    position: relative;
    display: grid;
    align-items: center;
}

.content div {
    display: flex;
    margin: 0 2.6rem 2.6rem 2.6rem;
    justify-content: space-evenly;
    z-index: 1;
}

div.fin_row_3 {
    justify-content: space-between;
}

div.fin_row_4 {
    justify-content: space-around;
    position: relative;
}

div.fin_row_4 h2 {
    position: absolute;
    font-family: "Jura";
    font-size: 1.2rem;
}

div.fin_row_4 .caption {
    margin: 0 1rem;
    top: 25%;
}

div.fin_row_4 .date {
    bottom: -20%;
}

div.fin_row_5 {
    position: relative;
}

div.fin_row_5 h3 {
    position: absolute;
    font-family: "Jura";
    font-size: x-large;
    font-weight: bold;
    bottom: -80%;
}

.landing_h3:hover {
    cursor: pointer;
}

/* ////////////////////////////////// */

.light {
    width: 340px;
    position: absolute;
    bottom: 0;
    filter: brightness(1.3);
    z-index: 0;
}

.light_2 {
    right: 0;
    transform: scaleX(-1);
}

.btn {
    box-shadow: 0px 4px 65.3px #000000;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 210px;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 11px;
    background: linear-gradient(to right, #ff0055, #ffdd1f);
    cursor: pointer;
    color: white;
    font-family: "Jura";
    font-size: 1rem;
    z-index: 100;
    filter: brightness(1.5);
}

.front_btn::before {
    content: "";
    position: absolute;
    left: 2px;
    right: 2px;
    top: 2px;
    bottom: 2px;
    border-radius: 9px;
    background: #030811;
    z-index: -1;
}

.bg_btn{
    z-index: 99;
    filter: blur(10px);
    transition: 0.05s;
}

.front_btn:hover + .bg_btn {
    filter: blur(14px);
}

.rotate_l {
    transition: transform 0.5s !important;
    transform: rotate(10deg) !important;
}

.rotate_r {
    transition: transform 0.5s !important;
    transform: rotate(-10deg) !important;
}

.eye {
    position: absolute;
    z-index: 1;
    height: 650px;
    /* width: 95vh; */
    object-fit: cover;
    opacity: 0.15;
    animation: rotateClockwise 120s linear infinite;
    align-self: center;
    justify-self: center;
}

@keyframes rotateClockwise {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


@media screen and (max-width: 960px) {

    .fin {
        height: 60px;
    }

    .landing_logo {
        width: 360px;
        top: 15%;
    }

    div.fin_row_4 .date, div.fin_row_4 .caption {
        font-size: 1rem ;
        text-align: center;
    }

    .btn {
        top: 10%;
        transform: scale(0.9);
    }

    div.fin_row_5 h3 
    {
        font-size: large;
        bottom: -70%;
    }
}


@media screen and (max-width: 732px) {
    .landing_logo {
        width: 300px;
    }
}

@media screen and (max-width: 690px) {

   .fin_1 {
        width: calc(17.2vw *  1.4);

    }

    .fin_2, .fin_3, .fin_4 {
        width: calc(27.2vw * 1.4);
    }

    .btn {
        top: 10%;
    }
}

@media screen and (max-width: 480px) {

    .btn {
        top: 0%;
        transform: scale(1);
    }

    .eye {
        height: auto;
        opacity: 0.25;
        transform: scale(3);
    }

    .content .fin_row_1, .content .fin_row_2, .content .fin_row_3, .content .fin_row_4 {
        margin: 0 0 2.6rem 0 ;
    }

    .landing_logo {
        width: 270px;
        top: 5%;
    }

    div.fin_row_4 .caption {
        top: -70%;
        font-size: 1.2rem;
    }
    
    div.fin_row_4 .date {
        bottom: 5%;
        font-size: 1.2rem;
    }

    .landing_h3 {
        position: relative;
        margin-top: 3rem;
    }

    .fin_1.fin_l, .fin_2.fin_r, .fin_3.fin_l, .fin_4.fin_r {
        display: none;
    }

    .light {
        display: none;
    }

    .fin {
        visibility: hidden;
    }
 }